[dev]

deployment_sdlc_account = 064946868561
deployment_region = us-east-1
workload_account = 499909335131
asset_prefix = sw-cdk-bootstrap-s3
resource_suffix = main-aws
bootstrap_stack_version = /swift/cdk-bootstrap/version
app_env = dev
app_name = fis
service_name = refapp
resource_prefix = sw
cost_center = CA77
main_lz_org_id = o-zwxgcm9bdz
vpc_id = vpc-00ee75859539aa431
workload_subnet_1 = subnet-0dd0280a92c2268a6
workload_subnet_2 = subnet-0d2b53f6a4eb0802e
lb_subnet_1 = subnet-0a8c09ea2dce6185e
lb_subnet_2 = subnet-0cae28678e2d52ef8
ecs_services = mra
db_clusters = rds-cl1,rds-cl2,rds-gc
ecs_taks_percents = 50,100
ecs_drain_percents = 50
s3_prefix_list = pl-63a5400a
subnet_az1_list = subnet-0fe5b143ac87f85e7,subnet-0de576838ef60cc4c,subnet-0a8c09ea2dce6185e,subnet-07e55da77dd9af755,subnet-0dd0280a92c2268a6
subnet_az2_list = subnet-01d95c4eb10620a15,subnet-0d2b53f6a4eb0802e,subnet-0cae28678e2d52ef8,subnet-0a0095e9937dec5e1,subnet-022cf656160374e2e
az1_name = us-east-1a
az2_name = us-east-1b